---
layout: listing
title: Cars
---
<h1>{{ page.title }} <a href="https://github.com/united-drivers/vehiclepedia/tree/master/cars" title="Add a car on GitHub">+</a></h1>
<ul>
  {% for brand in site.pages %}
    {% if brand.layout != "brand" %}{% continue %}{% endif %}
    <li>
      <a href="{{ brand.url }}">{{ brand.title }}</a>
      <ul>
        {% for car in site.pages %}
          {% assign brand_url = "/brands/" | append: car.brand | append: ".html" %}
          {% if car.layout != "car" or brand_url != brand.url %}{% continue %}{% endif %}
          <li><a href="{{ car.url }}">{{ car.title }}</a></li>
          {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>
