---
layout: default
---
<h1>
  <a href="/wiki/">Wiki</a>
  →
  {{ page.title }}
  <small>
    (<a href="https://github.com/united-drivers/vehiclepedia/edit/master/{{page.path}}" title="Edit on GitHub">edit</a>, json)
  </small>
</h1>

<h2>Specifications</h2>
{% include attributes_tree.html tree=page level=0 %}

<h2>Cars</h2>
<ul>
  {% for entry in site.pages %}
    {% if entry.layout == "car"  %}
      {% capture tmp %}/wiki/{{entry.brand}}/{% endcapture %}
      {% if tmp == page.url %}
        <li><a href="{{entry.url}}">{{entry.title}}</a></li>
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>
